@import 'reset';
@import'rem';
body {
    background-color: #0f89f4;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    min-width: rem(360px);
}

.header {
    padding: rem(16px);
    color: #fff;
    margin-bottom: rem(16px);
    &__menu {
        // display: flex;
        position: relative;
        margin-bottom: rem(20px);
    }
    &__logo {
        font-size: rem(42px);
        // text-align: center;
    }
    #check-menu {
        display: none;
    }
    #label-check {
        display: block;
        background-color: transparent;
        position: absolute;
        top: rem(10px);
        right: 0;
        width: rem(36px);
        height: rem(30px);
        cursor: pointer;
        z-index: 3;
    }
    .burger-line {
        position: absolute;
        top: rem(10px);
        right: 0;
        width: rem(36px);
        height: rem(4px);
        background-color: #fff;
        z-index: 2;
        transition: .7s all;
    }
    .second,
    .third {
        top: rem(25px)
    }
    .fourth {
        top: rem(40px);
    }
    .topnav {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        transition: .7s all;
        &__item {
            width: 100%;
            height: rem(50px);
            border-top: 1px solid #fff;
            background-color: #0f89f4;
            opacity: 0.9;
            &:first-child {
                border-top: 0;
            }
            &:last-child {
                border-bottom: 1px solid #fff;
            }
        }
        &__link {
            display: block;
            width: 100%;
            text-decoration: none;
            color: #fff;
            text-align: center;
            padding: rem(16px);
            &:hover {
                color: #cc371c;
            }
        }
    }
    #check-menu {
        &:checked~.topnav {
            max-height: rem(250px);
            font-size: rem(16px);
        }
        &:checked~.first {
            display: none;
        }
        &:checked~.second {
            transform: rotate(45deg);
        }
        &:checked~.third {
            transform: rotate(-45deg);
        }
        &:checked~.fourth {
            display: none;
        }
    }
    .company-description {
        text-align: center;
        &__title,
        {
            font-size: rem(26px);
            margin-bottom: rem(16px);
        }
        &__article {
            font-size: rem(14px);
            margin-bottom: rem(16px);
        }
        &__btn {
            width: rem(160px);
        }
        &__watch-about {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #95c9fb;
            .wath-link__text {
                font-size: rem(14px);
                margin-right: rem(6px);
            }
            .wath-link__icon-arrow {
                width: rem(16px);
                height: rem(16px);
                fill: #95c9fb;
                &:hover {
                    fill: #cc371c;
                }
            }
            &:hover {
                color: #cc371c;
                /////разобраться с наведением 
            }
        }
    }
    &__main {
        margin-bottom: rem(20px);
    }
    .company-img {
        width: 100%;
        height: rem(240px);
        background: url(../img/header-img.jpg) center center no-repeat;
        background-size: contain;
        background-color: transparent;
        /// переделать убрать прозрачность или сделать png
    }
    &__bottom-description {
        text-align: center;
        color: #a3d0fc;
        font-size: rem(12px);
        margin-bottom: rem(16px);
    }
    &__bottom-icon-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__bottom-icon-item {
        flex-basis: 30%;
        width: rem(50px);
        height: rem(30px);
        background-color: transparent;
        margin-bottom: rem(10px);
        &:nth-child(1) {
            background: url(../img/png/topwell.png) center center no-repeat;
            background-size: contain;
        }
        &:nth-child(2) {
            background: url(../img/png/on.png) center center no-repeat;
            background-size: contain;
        }
        &:nth-child(3) {
            background: url(../img/png/bulk.png) center center no-repeat;
            background-size: contain;
        }
        &:nth-child(4) {
            background: url(../img/png/sts.png) center center no-repeat;
            background-size: contain;
        }
        &:nth-child(5) {
            background: url(../img/png/foodfirst.png) center center no-repeat;
            background-size: contain;
        }
        &:nth-child(6) {
            background: url(../img/png/maxbodyfood.png) center center no-repeat;
            background-size: contain;
        }
        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }
    }
}

.main {
    background-color: #fff;
    margin-bottom: rem(10px);
    .main-top {
        padding: rem(20px);
    }
    &__slider {
        margin-bottom: rem(20px);
    }
    &__title {
        text-align: center;
        font-size: rem(20px);
        margin-bottom: rem(20px);
        color: #315479;
    }
    &__title--white {
        color: #fff;
    }
    &__title-text--blue {
        font-size: rem(16px);
        margin-bottom: rem(20px);
        color: #315479;
    }
    &__description-text {
        font-size: rem(12px);
        margin-bottom: rem(20px);
        color: #677482;
    }
    &__article-img {
        width: 100%;
        height: rem(240px);
        background-color: transparent;
        margin-bottom: rem(20px);
    }
    &__article-item:nth-child(1) &__article-img {
        background: url(../img/big-png/drawing.png) center center no-repeat;
        background-size: contain;
    }
    &__article-item:nth-child(2) &__article-img {
        background: url(../img/big-png/delivery.png) center center no-repeat;
        background-size: contain;
    }
    &__article-item:last-child &__article-img {
        margin-bottom: 0;
    }
    //what do whith png???
    &__article-list {
        margin-bottom: rem(30px);
    }
    &__article-text--white {
        color: #a3d0fc;
        font-size: rem(14px);
        margin-bottom: rem(16px);
    }
    // &__article {
    //     font-size: rem(14px);
    //     color: #677482;
    //     margin-bottom: rem(20px);
    //     text-align: center;
    // }
    &__viev-btn {
        width: rem(180px);
    }
    .citation {
        &__list {
            padding: 0 rem(20px);
            margin-bottom: rem(20px);
        }
        &__item {
            margin-bottom: rem(20px);
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__item-box {
            background-color: #5eaffa;
            color: #fff;
            border-radius: rem(4px);
            padding: rem(16px) rem(16px) rem(16px) rem(10px);
            font-size: rem(12px);
            margin-bottom: rem(24px);
            position: relative;
            &::after {
                content: '';
                position: absolute;
                left: rem(14px);
                bottom: rem(-14px);
                border: rem(16px) solid transparent;
                border-top: rem(6px)solid #5eaffa;
                border-left: rem(34px) solid #5eaffa;
            }
        }
        &__item-text {
            padding: rem(16px) 0 0 rem(20px);
            position: relative;
            &::before {
                position: absolute;
                left: rem(-4px);
                top: rem(10px);
                content: ",,";
                font-family: Georgia, serif;
                font-size: rem(42px);
                color: #126bce;
                transform: rotate(180deg);
            }
        }
        &__item-autor {
            font-size: rem(14px);
            color: #315479;
            padding-left: rem(6px);
            margin-bottom: rem(6px);
        }
        &__item-company {
            font-size: rem(10px);
            color: #677482;
            padding-left: rem(6px);
        }
    }
    .main-bottom {
        text-align: center;
        padding: rem(20px);
        background-color: #0f89f4;
    }
    .main__viev-btn {
        width: rem(180px);
    }
}

.company-description__btn {
    padding: rem(10px);
    text-transform: uppercase;
    font-weight: 600;
    color: #345477;
    background-color: #9addfc;
    border: rem(1px) solid #9addfc;
    border-radius: rem(3px);
    cursor: pointer;
    outline: 0;
    margin-bottom: rem(12px);
    &:hover {
        transition: .7s linear;
        transform: scale(1.02);
        background-color: #cc371c;
        color: #fff;
        border-color: #cc371c;
    }
}

.footer {
    background-color: #fff;
    padding: rem(20px);
    &__description {
        text-align: center;
    }
    &__title {
        text-transform: uppercase;
        font-size: rem(14px);
        font-weight: 700;
        color: #3974ca;
        margin-bottom: rem(10px);
    }
    &__text {
        font-size: rem(12px);
        margin-bottom: rem(16px);
    }
    &__text-email {
        text-decoration: none;
        color: #3974ca;
        &:hover {
            transition: .7s all;
            color: #cc371c;
            text-decoration: underline;
        }
    }
}