@import 'reset';
@import'rem';
body {
    background-color: #0f89f4;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    margin: 0 auto;
    min-width: rem(360px);
    max-width: rem(1260px);
}

.header {
    color: #fff;
    padding: rem(16px);
    margin-bottom: rem(16px);
    @media (min-width: rem(1224px)) {
        padding: rem(30px) rem(50px) rem(50px) rem(50px);
        margin-bottom: rem(10px);
    }
    &__menu {
        position: relative;
        margin-bottom: rem(20px);
        @media (min-width: rem(768px)) {
            margin-bottom: rem(30px);
        }
        @media (min-width: rem(1224px)) {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__logo {
        font-size: rem(42px);
        text-align: left;
        @media (min-width: rem(768px)) {
            margin-bottom: rem(20px);
        }
        @media (min-width: rem(1224px)) {
            font-size: rem(36px);
            margin-bottom: 0;
        }
    }
    #check-menu {
        display: none;
    }
    #label-check {
        display: block;
        background-color: transparent;
        position: absolute;
        top: rem(10px);
        right: 0;
        width: rem(36px);
        height: rem(30px);
        cursor: pointer;
        z-index: 3;
        @media (min-width: rem(768px)) {
            display: none;
        }
    }
    .burger-line {
        position: absolute;
        top: rem(10px);
        right: 0;
        width: rem(36px);
        height: rem(4px);
        background-color: #fff;
        z-index: 2;
        transition: .7s all;
        @media (min-width: rem(768px)) {
            display: none;
        }
    }
    .second,
    .third {
        top: rem(25px)
    }
    .fourth {
        top: rem(40px);
    }
    .topnav {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        transition: .7s all;
        @media (min-width: rem(768px)) {
            position: relative;
            display: flex;
            max-height: rem(20px);
            font-size: rem(16px);
        }
        @media (min-width: rem(1224px)) {
            font-size: rem(13px);
            justify-content: space-between;
        }
        &__item {
            width: 100%;
            height: rem(50px);
            border-top: 1px solid #fff;
            background-color: #0f89f4;
            opacity: 0.9;
            &:first-child {
                border-top: 0;
            }
            &:last-child {
                border-bottom: 1px solid #fff;
            }
            @media (min-width: rem(768px)) {
                border-top: none;
                &:last-child {
                    border-bottom: none;
                }
            }
            @media (min-width: rem(1224px)) {
                margin-right: rem(25px);
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &__link {
            display: block;
            width: 100%;
            text-decoration: none;
            color: #d2e7fb;
            text-align: center;
            padding: rem(16px);
            &:hover {
                color: #cc371c;
            }
            @media (min-width: rem(768px)) {
                padding: rem(5px);
            }
        }
    }
    #check-menu {
        &:checked~.topnav {
            max-height: rem(250px);
            font-size: rem(16px);
        }
        &:checked~.first {
            display: none;
        }
        &:checked~.second {
            transform: rotate(45deg);
        }
        &:checked~.third {
            transform: rotate(-45deg);
        }
        &:checked~.fourth {
            display: none;
        }
    }
    &__main {
        margin-bottom: rem(20px);
        @media (min-width: rem(1024px)) {
            display: flex;
            align-items: center;
        }
        @media (min-width: rem(1224px)) {
            justify-content: space-between;
            margin-bottom: rem(25px);
        }
    }
    .company-description {
        text-align: center;
        @media (min-width: rem(1024px)) {
            // padding-top: rem(20px);
            width: 85%;
            align-self: flex-end;
        }
        @media (min-width: rem(1224px)) {
            text-align: left;
            width: 42%;
        }
        &__title {
            font-size: rem(26px);
            margin-bottom: rem(16px);
            @media (min-width: rem(1224px)) {
                font-size: rem(36px);
                line-height: rem(44px);
                margin-bottom: rem(30px);
            }
        }
        &__article {
            font-size: rem(14px);
            margin-bottom: rem(16px);
            color: #d2e7fb;
            @media (min-width: rem(768px)) {
                margin-bottom: rem(20px);
            }
            @media (min-width: rem(1224px)) {
                font-size: rem(15px);
                line-height: rem(25px);
                margin-bottom: rem(30px);
            }
        }
        &__more-info {
            @media (min-width: rem(1224px)) {
                width: rem(230px);
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        &__btn {
            width: rem(160px);
            font-weight: 700;
            @media (min-width: rem(1224px)) {
                width: rem(230px);
                font-size: rem(17px);
                line-height: rem(50px);
                padding: rem(5px);
                margin-bottom: rem(16px);
            }
        }
        &__watch-about {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #95c9fb;
            @media (min-width: rem(1224px)) {
                justify-content: start;
            }
            .wath-link__text {
                font-size: rem(14px);
                margin-right: rem(6px);
            }
            .wath-link__icon-arrow {
                width: rem(16px);
                height: rem(16px);
                fill: #95c9fb;
                &:hover {
                    fill: #cc371c;
                }
            }
            &:hover {
                color: #cc371c;
                /////разобраться с наведением 
            }
        }
    }
    .company-img {
        width: 100%;
        height: rem(240px);
        background: url(../img/big-png/header-image.png) center center no-repeat;
        background-size: contain;
        background-color: transparent;
        @media (min-width: rem(1224px)) {
            height: rem(400px);
            width: 50%;
        }
    }
    &__bottom {
        @media (min-width: rem(1224px)) {
            display: flex;
            justify-content: space-around;
        }
    }
    &__bottom-description {
        text-align: center;
        color: #a3d0fc;
        font-size: rem(12px);
        margin-bottom: rem(16px);
        @media (min-width: rem(1224px)) {
            text-align: left;
            font-size: rem(15px);
            line-height: rem(25px);
            margin-bottom: 0;
        }
    }
    &__bottom-icon-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (min-width: rem(1024px)) {
            flex-wrap: nowrap;
        }
        @media (min-width: rem(1224px)) {
            flex-basis: 60%;
        }
    }
    &__bottom-icon-item {
        flex-basis: 30%;
        width: rem(50px);
        height: rem(30px);
        background-color: transparent;
        margin-bottom: rem(10px);
        @media (min-width: rem(768px)) {
            margin-bottom: rem(20px);
            &:nth-last-child(-n+3) {
                margin-bottom: 0;
            }
        }
        @media (min-width: rem(1024px)) {
            flex-basis: 15%;
            margin-bottom: 0;
        }
        &:nth-child(1) {
            background: url(../img/png/topwell.png) center center no-repeat;
            background-size: contain;
        }
        &:nth-child(2) {
            background: url(../img/png/on.png) center center no-repeat;
            background-size: contain;
        }
        &:nth-child(3) {
            background: url(../img/png/bulk.png) center center no-repeat;
            background-size: contain;
        }
        &:nth-child(4) {
            background: url(../img/png/sts.png) center center no-repeat;
            background-size: contain;
        }
        &:nth-child(5) {
            background: url(../img/png/foodfirst.png) center center no-repeat;
            background-size: contain;
        }
        &:nth-child(6) {
            background: url(../img/png/maxbodyfood.png) center center no-repeat;
            background-size: contain;
            order: -1;
        }
        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }
    }
}

///project
.shakers-slider {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #0f89f4;
    @media (min-width: 1224px) {
        margin-bottom: 40px;
    }
    &__btn {
        width: 8.3%;
        padding: 0;
        background-color: transparent;
        outline: 0;
        border: 0;
        position: relative;
        @media (min-width: 1224px) {
            width: 5%;
        }
        &::before,
        &:after {
            display: block;
            content: '';
            width: 20px;
            height: 20px;
            border-left: 4px solid #0f89f4;
            border-bottom: 4px solid #0f89f4;
            transform: rotate(45deg);
            position: absolute;
            left: 30%;
            top: 47%;
        }
        &:after {
            left: 56%;
            @media (min-width: 768px) {
                left: 44%;
            }
            @media (min-width: 1024px) {
                left: 42%;
            }
        }
    }
    &__btn:last-child {
        transform: rotate(180deg);
    }
}

.slider {
    width: 300px;
    height: 300px;
    overflow: hidden;
    @media (min-width: 768px) {
        width: 600px;
        overflow: hidden;
    }
    ///////////////////////////////////////////////////////
    @media (min-width: 1224px) {
        width: 1200px;
        overflow: hidden;
    }
    &__list {
        width: 2400px;
        position: relative;
        left: 0;
        transition: all ease 1s;
        &:after {
            display: block;
            content: '';
            clear: both;
        }
    }
    &__item {
        width: 300px;
        height: 300px;
        padding-top: 30px;
        border-right: 1px solid #0f89f4;
        border-left: 1px solid #0f89f4;
        float: left;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__item-name {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px; /////
        font-weight: 900;
        margin-bottom: 30px;
    }
    &__item-img {
        width: rem(100px);
        height: rem(200px);
    }
}

.main {
    background-color: #fff;
    margin-bottom: rem(10px);
    .main-top {
        padding: rem(20px) rem(60px);
    }
    &__title {
        text-align: center;
        font-size: rem(20px);
        margin-bottom: rem(20px);
        color: #315479;
        @media (min-width: rem(1224px)) {
            display: block;
            margin: 0 auto;
            width: 46%;
            font-size: rem(32px);
            line-height: rem(44px);
            margin-bottom: rem(50px);
        }
    }
    &__title-citation-title {
        @media (min-width: rem(1224px)) {
            margin-bottom: rem(74px);
        }
    }
    &__title--white {
        color: #fff;
        @media (min-width: rem(1224px)) {
            width: 70%;
            font-size: rem(32px);
            line-height: rem(40px);
            margin-bottom: rem(25px);
        }
    }
    &__title-text--blue {
        font-size: rem(16px);
        margin-bottom: rem(20px);
        color: #315479;
        @media (min-width: rem(1224px)) {
            font-size: rem(25px);
            line-height: rem(32px);
        }
    }
    &__description-text {
        font-size: rem(12px);
        margin-bottom: rem(20px);
        color: #677482;
        @media (min-width: rem(1224px)) {
            font-size: rem(22px);
            line-height: rem(32px);
            margin-bottom: rem(13px);
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__description-block {
        @media (min-width: rem(768px)) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: rem(30px);
        }
        @media (min-width: rem(1224px)) {
            margin-bottom: rem(70px);
        }
    }
    &__description-block-top {
        @media (min-width: rem(1224px)) {
            width: 35%;
        }
    }
    &__article-img {
        width: 100%;
        height: rem(240px);
        background-color: transparent;
        margin-bottom: rem(20px);
        @media (min-width: rem(768px)) {
            margin-bottom: 0;
        }
        @media (min-width: rem(1224px)) {
            width: 47%;
            height: rem(400px);
        }
    }
    &__article-item:nth-child(1) &__article-img {
        background: url(../img/big-png/drawing.png) center center no-repeat;
        background-size: contain;
    }
    &__article-item:nth-child(2) &__article-img {
        background: url(../img/big-png/delivery.png) center center no-repeat;
        background-size: contain;
        @media (min-width: rem(768px)) {
            order: -1;
        }
    }
    &__article-item:nth-child(2) &__description-block {
        @media (min-width: rem(768px)) {
            margin-bottom: 0;
        }
    }
    &__article-list {
        margin-bottom: rem(30px);
        @media (min-width: rem(1224px)) {
            margin-bottom: rem(114px);
        }
    }
    &__article-text--white {
        color: #a3d0fc;
        font-size: rem(14px);
        margin-bottom: rem(16px);
        @media (min-width: rem(1224px)) {
            font-size: rem(16px);
            line-height: rem(25px);
            margin-bottom: rem(35px);
        }
    }
    &__viev-btn {
        width: rem(250px);
    }
    .citation {
        &__list {
            padding: 0 rem(20px);
            margin-bottom: rem(20px);
            @media (min-width: rem(1024px)) {
                padding: 0 rem(10px);
                display: flex;
                justify-content: space-between;
            }
            @media (min-width: rem(1224px)) {
                padding: 0 rem(30px);
                margin-bottom: rem(80px);
            }
        }
        &__item {
            margin-bottom: rem(20px);
            &:last-child {
                margin-bottom: 0;
            }
            @media (min-width: rem(1024px)) {
                flex-basis: 30%;
                margin-bottom: 0;
            }
            @media (min-width: rem(1224px)) {
                flex-basis: 32%;
            }
        }
        &__item-box {
            background-color: #0f89f4;
            color: #fff;
            border-radius: rem(4px);
            padding: rem(16px) rem(16px) rem(16px) rem(10px);
            font-size: rem(12px);
            font-weight: 400;
            margin-bottom: rem(24px);
            position: relative;
            @media (min-width: rem(1224px)) {
                padding: rem(30px) rem(40px) rem(40px) rem(25px);
                font-size: rem(17px);
                line-height: rem(25px)
            }
            &::after {
                content: '';
                position: absolute;
                left: rem(14px);
                bottom: rem(-14px);
                border: rem(16px) solid transparent;
                border-top: rem(6px)solid #0f89f4;
                border-left: rem(34px) solid #0f89f4;
            }
        }
        &__item-text {
            padding: rem(16px) 0 0 rem(20px);
            position: relative;
            &::before {
                position: absolute;
                left: rem(-4px);
                top: rem(10px);
                content: ",,";
                font-family: Georgia, serif;
                font-size: rem(42px);
                color: #126bce;
                transform: rotate(180deg);
                @media (min-width: rem(1224px)) {
                    font-size: rem(52px);
                    font-weight: 900;
                    left: rem(-16px);
                    top: rem(30px);
                }
            }
        }
        &__item-autor {
            font-size: rem(14px);
            color: #315479;
            padding-left: rem(6px);
            margin-bottom: rem(6px);
            @media (min-width: rem(1224px)) {
                font-size: rem(17px);
            }
        }
        &__item-company {
            font-size: rem(10px);
            color: #677482;
            padding-left: rem(6px);
            @media (min-width: rem(1224px)) {
                font-size: rem(14px);
            }
        }
    }
    .main-bottom {
        text-align: center;
        padding: rem(20px);
        background-color: #0f89f4;
        @media (min-width: rem(1224px)) {
            padding: rem(60px)
        }
    }
    .main__viev-btn {
        width: rem(180px);
        @media (min-width: rem(1224px)) {
            width: rem(250px);
            font-size: rem(17px);
            line-height: rem(25px);
            padding: rem(16px);
        }
    }
}

.company-description__btn {
    padding: rem(10px);
    text-transform: uppercase;
    font-weight: 600;
    color: #345477;
    background-color: #9addfc;
    border: rem(1px) solid #9addfc;
    border-radius: rem(3px);
    cursor: pointer;
    outline: 0;
    margin-bottom: rem(12px);
    @media (min-width: rem(1224px)) {
        width: 250px;
    }
    &:hover {
        transition: .7s linear;
        transform: scale(1.02);
        background-color: #cc371c;
        color: #fff;
        border-color: #cc371c;
    }
}

.footer {
    background-color: #fff;
    padding: rem(20px);
    @media (min-width: rem(1024px)) {
        padding: rem(30px);
    }
    @media (min-width: rem(1024px)) {
        padding: rem(80px) rem(65px) rem(65px) rem(65px);
    }
    .footer-top {
        margin-bottom: rem(30px);
        @media (min-width: rem(1024px)) {
            display: flex;
            justify-content: space-between;
        }
        @media (min-width: rem(1224px)) {
            margin-bottom: rem(110px);
        }
    }
    &__description {
        text-align: center;
        margin-bottom: rem(16px);
        &:last-child {
            margin-bottom: 0;
        }
        @media (min-width: rem(1024px)) {
            flex-basis: 30%;
            text-align: left;
            margin-bottom: 0;
        }
    }
    &__title {
        text-transform: uppercase;
        font-size: rem(14px);
        font-weight: 700;
        color: #3974ca;
        margin-bottom: rem(10px);
        @media (min-width: rem(1224px)) {
            margin-bottom: rem(30px);
        }
    }
    &__text {
        font-size: rem(12px);
        @media (min-width: rem(1224px)) {
            font-size: rem(15px);
        }
    }
    &__text-email {
        text-decoration: none;
        color: #3974ca;
        &:hover {
            transition: .7s all;
            color: #cc371c;
            text-decoration: underline;
        }
    }
    .social-links {
        &__item {
            display: inline-block;
            width: rem(30px);
            height: rem(30px);
            margin-right: rem(10px);
            &:last-child {
                margin-right: 0;
            }
        }
        &__item-icon {
            width: 100%;
            height: 100%;
            &:hover {
                transition: .5s all;
                transform: scale(1.1);
            }
        }
    }
    .footer-bottom {
        &__buttons {
            margin-bottom: rem(16px);
            @media (min-width: rem(480px)) {
                display: inline-block;
                margin-bottom: 0;
            }
            @media (min-width: rem(1224px)) {
                margin-right: rem(20px);
            }
        }
        &__footer-btn {
            display: inline-block;
            background-color: #4266b2;
            border: rem(1px) solid #4266b2;
            border-radius: rem(3px);
            width: rem(50px);
            height: rem(20px);
            padding: rem(2px);
            color: #fff;
            font-weight: 500;
            outline: 0;
            &:hover {
                cursor: pointer;
                border: rem(1px) dotted #fff;
            }
            &:first-child {
                position: relative;
                width: rem(80px);
                text-align: right;
                &::before {
                    content: '';
                    width: rem(14px);
                    height: rem(14px);
                    background: url(../img/png/like.png) center center no-repeat;
                    background-size: cover;
                    position: absolute;
                    top: rem(2px);
                    left: rem(4px);
                }
            }
        }
        &__rights {
            text-align: center;
            font-size: rem(14px);
            @media (min-width: 480px) {
                display: inline-block;
            }
        }
    }
}