/*
   Import partials below
*/

@import './normalize';
@import'./fonts.scss';
@import './variables.scss';
@import'./header.scss';
@import './main.scss';
@import'./footer.scss';
/// common
// body {
//     box-sizing: border-box;
// }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    box-sizing: border-box;
    min-width: 360px;
    padding: 20px;
    background-color: #f9f9f9;
    font-family: 'Myriad Pro Regular';
    ///make bcg
}