@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');
body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 1024px;
    min-height: 700px;
    margin: 0 auto;
    display: flex;
}

.left-bar {
    width: 80px;
    background-color: #01134E;
    padding-top: 18px;
}

.content {
    width: 100%;
}

.logo {
    margin: 0 auto;
    width: 35px;
    height: 35px;
    background-image: url(/img/logo.jpg);
    margin-bottom: 70px;
    &:hover {
        cursor: pointer;
    }
}

.content-top {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid #DAE4F2;
    width: 100%;
}

.explorel {
    display: flex;
    align-items: center;
    .menu-name {
        color: #252F48;
        font-size: 13px;
        margin-right: 10px;
        &:hover {
            font-weight: 900;
            cursor: pointer;
        }
    }
    .vector {
        background: url(/img/Vector.jpg) center no-repeat;
        width: 10px;
        height: 10px;
        margin-right: 10px;
    }
}

.users-menu {
    display: flex;
    align-items: center;
    .users-avatar {
        background-image: url(/img/avatars/usersavatar.jpg);
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    .users-name {
        color: #252F48;
        font-size: 13px;
        margin-right: 10px;
        &:hover {
            cursor: pointer;
        }
    }
    .more-menu {
        background: url(/img/Shape.jpg) center no-repeat;
        width: 10px;
        height: 10px;
        cursor: pointer;
    }
}

/////center
.content-center {
    background-color: #F9FAFC;
    padding: 45px;
}

.chat {
    display: flex;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    .members-list {
        flex-basis: 35%;
    }
    .message-list {
        flex-basis: 65%;
        //////////////
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.members-item {
    width: 100%;
    height: 90px;
    padding: 20px 20px 20px 20px;
    display: flex;
    position: relative;
    border-right: 1px solid #e2e2e2;
    &:hover {
        cursor: pointer;
        background-color: #eff2f7;
        ;
    }
    .members-name {
        color: #01134E;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 6px;
        align-self: flex-start;
    }
    .member-sign {
        font-size: 14px;
        color: #252F48;
        opacity: 0.8;
    }
    &::before {
        position: absolute;
        opacity: 0.8;
        color: #252F48;
        right: 10px;
        top: 10px;
        font-size: 12px;
    }
    &:nth-child(1) {
        &::before {
            content: '9:32';
        }
    }
    &:nth-child(2) {
        &::before {
            content: '22:01';
        }
    }
    &:nth-child(3) {
        &::before {
            content: '19:15';
        }
    }
    &:nth-child(4) {
        &::before {
            content: '13:49';
        }
    }
    &:nth-child(5) {
        &::before {
            content: '10:25';
        }
    }
    &:nth-child(6) {
        &::before {
            content: '08:53';
        }
    }
    .members-info {
        display: flex;
        flex-direction: column;
    }
}

.member-avatar {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 15px;
    border-radius: 50%;
}

///members-img
#mirandahops {
    background-image: url(/img/avatars/mirandahops.jpg)
}

#barrycallebaut {
    background-image: url(/img/avatars/barrycallebaut.jpg);
}

#staceydosh {
    background-image: url(/img/avatars/staceydosh.jpg);
}

#michaelkors {
    background-image: url(/img/avatars/michaelkors.jpg);
}

#johnycash {
    background-image: url(/img/avatars/johnycash.jpg);
}

#staceydosh {
    background-image: url(/img/avatars/staceydosh.jpg);
}

.members-name--online {
    position: relative;
    &:before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background-color: #0AD69C;
        border-radius: 50%;
        position: absolute;
        right: -8px;
    }
}

.members-name--mute {
    position: relative;
    &::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background: url(/img/mute.jpg) center no-repeat;
        position: absolute;
        right: -20px;
        bottom: 4px;
    }
}

.members-item--current {
    border-bottom: 2px solid #e2e2e2;
}

.search {
    height: 50px;
    padding: 15px;
    border-bottom: 1px solid #e2e2e2;
}

.typing-form {
    height: 60px;
}

.search-btn {
    display: block;
    width: 15px;
    height: 15px;
    background: url(/img/search.jpg) center no-repeat;
    outline: 0;
    border: 0;
    margin-right: 20px;
}

.search-form {
    display: flex;
}

.search-input,
.sms-input {
    border: none;
    opacity: 0.8;
    color: #252F48;
    font-size: 14px;
    outline: 0;
}

.typing {
    border-top: 1px solid #e2e2e2;
}

.typing-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 30px;
}

.btn {
    width: 36px;
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: none;
    outline: 0;
    background-color: #fff;
    padding: 0;
}

.smile-btn {
    background-image: url(/img/smiling-emoticon-square-face.jpg);
}

.attach-btn {
    background-image: url(/img/clip.jpg)
}

.send-btn {
    background-image: url(/img/send-message-button.jpg);
    border-radius: 3px;
    background-size: 60%;
    border: 1px solid transparent;
    border-radius: 10%;
    filter: drop-shadow(0 0 5px rgb(192, 187, 187));
    &:hover {
        transition: all 1s;
        filter: drop-shadow(0 0 5px rgb(34, 34, 34));
    }
}

.sms-input {
    flex-basis: 70%;
}

.chat-window {
    padding: 0 40px 0 20px;
    max-height: 430px;
    overflow-y: scroll;
}

.current-date {
    text-align: center;
    opacity: 0.8;
}

.date {
    margin-bottom: 100px;
}

.oponent-messege,
{
    display: flex;
    margin-bottom: 20px;
}

.users-messege {
    margin-bottom: 20px;
}

.member-message {
    width: 300px;
    background-color: #F7F9FC;
    display: flex;
    justify-content: space-between;
    padding: 12px 14px;
    position: relative;
    &::before {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 6px 6px 6px;
        border-color: transparent #F7F9FC #F7F9FC transparent;
        position: absolute;
        left: -10px;
        bottom: 0;
    }
}

.message-txt {
    width: 230px;
    font-size: 14px;
}

.member-avatar--chat {
    width: 36px;
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
    align-self: flex-end;
}

.message-time {
    align-self: flex-end;
    font-size: 12px;
    opacity: 0.8;
}

.messege--right {
    margin-left: auto;
    margin-right: 10px;
    &::before {
        border-color: transparent transparent #F7F9FC#F7F9FC;
        left: 300px;
    }
}

 ::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 5px;
    height: 0px
}

 ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #7a7d80
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: #494b4d;
}

 ::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}

 ::-webkit-scrollbar {
    width: 6px;
}

.icon-item {
    height: 50px;
    position: relative;
    padding-top: 15px;
}

.icon-item--active {
    &:after {
        content: '';
        display: block;
        width: 4px;
        height: 50px;
        background-color: #0AD69C;
        position: absolute;
        top: 0px;
    }
}

.svg-icon {
    display: block;
    width: 20px;
    height: 20px;
    fill: #8089A6;
    margin: 0 auto 50px;
    &:last-child {
        margin-bottom: 0;
    }
    &:hover {
        cursor: pointer;
        fill: #fff;
    }
}

.svg-icon--active {
    fill: #fff;
    position: relative;
}

.calendar--counter {
    &::before {
        content: '1';
        display: block;
        width: 16px;
        height: 16px;
        background-color: #2A74DB;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        position: absolute;
        font-size: 12px;
        line-height: 16px;
        top: 10px;
        right: 20px;
    }
}