.main {
    padding: 0 20px 40px 20px;
    min-height: 500px;
    background-color: #DCDCDC;
}

.jobs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.jobs-item-card {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px 20px 40px 20px;
    border: 2px solid #696969;
    background-color: #fff;
    &:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
}

.card-img {
    width: 100%;
    height: 200px;
}

.card-descr,
.requirements,
.location {
    display: flex;
    justify-content: space-between;
}

.card-descr,
.card-img,
.requirements,
.card-descr-text {
    margin-bottom: 20px;
}

.job-name {
    margin-bottom: 15px;
    min-height: 50px;
}

.min-age,
.max-age,
{
    display: inline-block;
}

.card-descr-text {
    text-align: center;
}

.age {
    color: #A52A2A;
    font-weight: 700;
}

.id {
    color: #800000;
    font-weight: 700;
    font-size: 18px;
}

.count {
    font-weight: 700;
}

.date,
.count {
    color: #D2691E;
}

.job-name {
    text-decoration: underline;
    font-weight: 700;
    font-size: 20px;
}

.job-descr {
    color: #C0C0C0;
}

.location {
    margin-top: auto;
    color: #0000CD;
}

.city {
    text-decoration: underline;
}

.load-more-btn {
    display: block;
    margin: 0 auto;
    padding: 15px;
    text-transform: uppercase;
    color: #DCDCDC;
    background-color: #0000CD;
    border: 0;
    border-radius: 5px;
    outline: 0;
    font-size: 20px;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: all .3s ease;
    }
}

.sort-box {
    padding: 0px 10px;
    margin-bottom: 20px;
    display: flex;
    border-bottom: 4px solid #696969;
}

.find-box,
.find-form,
.sort-form-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sort-form-item {
    padding: 0 20px;
}

.find-box {
    width: 130px;
    margin-right: 20px;
    padding-right: 10px;
    border-right: 2px solid #696969;
}

.id-fin {
    border-right: 2px solid #696969;
}

.find-input,
.find-title {
    margin-bottom: 10px;
}

input {
    padding: 10px;
}

.find-input {
    width: 100%;
}

.find-title {
    padding-top: 20px;
    font-weight: 700;
    font-size: 22px;
}

.submit-find-btn {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #D2691E;
    border-radius: 2px;
    outline: 0;
    text-transform: uppercase;
    background-color: #fff;
    font-weight: 700;
    &:hover {
        background-color: #696969;
        transition: all .7s linear;
        cursor: pointer;
    }
}

.sort-inputs {
    width: 100%;
}

.sort-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sort-form-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.age-input {
    width: 50px;
}

.sort-input-wide {
    width: 130px;
}

.mo-matches {
    padding-top: 30px;
    font-size: 24px;
    font-weight: 700;
}