* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.wrapper {
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.wrapper .txt--yellow {
  color: #ffdc00;
}

.wrapper .hr--yellow {
  height: 2px;
  width: 50%;
  background-color: #ffdc00;
  border: 1px solid #ffdc00;
  margin: 0 auto 20px auto;
}

.wrapper .order {
  padding: 0 20px;
}

.wrapper .order .order-btn {
  display: block;
  margin: 0 auto;
  background-color: #ffdc00;
  width: 100%;
  height: 60px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 6px;
  outline: 0;
  border: 2px solid #b9a000;
  font-weight: 700;
  width: 240px;
}

.wrapper .order .order-btn:hover {
  border-color: #333;
  cursor: pointer;
}

.wrapper .backmirror {
  position: relative;
  margin-bottom: 30px;
  width: 280px;
  margin: 0 auto;
}

.wrapper .backmirror .back-mirror {
  width: 100%;
}

.wrapper .backmirror .price-circle {
  position: absolute;
  background: url(/img/undersale.png) 100% no-repeat;
  width: 100%;
  height: 100px;
  right: 4px;
  bottom: 2px;
}

.wrapper .backmirror .price-box {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.wrapper .backmirror .price-box::before, .wrapper .backmirror .price-box::after {
  position: absolute;
  font-weight: 900;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: 1;
}

.wrapper .backmirror .price-box::before {
  content: '6999 p.';
  display: block;
  color: #fff;
  margin-bottom: 5px;
  right: -10px;
  bottom: 30px;
}

.wrapper .backmirror .price-box::after {
  content: '3999 p.';
  display: block;
  color: #ffdc00;
  right: 6px;
  bottom: 10px;
}

.wrapper .backmirror .red-line {
  position: absolute;
  width: 46px;
  height: 2px;
  background-color: #d24a43;
  right: 14px;
  bottom: 62px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 2;
}

.wrapper .clock-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 14px;
  width: 280px;
  margin: 0 auto 20px auto;
}

.wrapper .clock-box .digit {
  display: inline-block;
  width: 30px;
  height: 50px;
  background-color: #333;
  border-radius: 4px;
}

.wrapper .clock-box .digit .digit-txt {
  font-size: 28px;
  color: #fff;
  text-align: center;
  line-height: 48px;
}

.wrapper .clock-box .points-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .clock-box .points-box .point {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #333;
  margin-bottom: 4px;
}

.wrapper .clock-box .points-box .point:last-child {
  margin-bottom: 0;
}

header .header-top {
  padding: 14px 20px 12px 20px;
  background-color: #ffdc00;
}

header .header-top .header-right {
  display: none;
}

header .header-top h1 {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 100;
  margin-bottom: 10px;
}

header .header-top .h1--bold {
  font-weight: 900;
}

header .header-top .header-title {
  text-transform: uppercase;
  font-size: 10px;
}

header .header-bottom {
  padding: 40px 20px 20px 20px;
  background: url(/img/main-bg.png);
  background-position: center;
  background-color: #000;
}

header .header-bottom .header-bottom-maintxt {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  margin-bottom: 25px;
  line-height: 24px;
}

header .header-bottom .header-bottom-txt {
  color: #fff;
  line-height: 24px;
  width: 90%;
}

.content {
  padding: 34px 20px;
}

.content .content-title .content-titletxt,
.content .content-title .content-articletxt {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 22px;
}

.content .content-title .content-articletxt {
  font-size: 14px;
}

.content .charact {
  margin-bottom: 50px;
}

.content .charact .charact-listbox {
  padding: 0px 20px 0px 16px;
}

.content .charact .charact-listbox .charact-list .charts-item {
  margin-bottom: 12px;
  color: #333;
  opacity: 0.8;
  font-style: italic;
  font-size: 14px;
}

.content .charact .charact-listbox .charact-list .charts-item--bold {
  font-weight: 900;
  font-style: normal;
  opacity: 1;
}

.content .charact .charact-listbox .charact-list .charts--small {
  font-size: 12px;
  line-height: 28px;
  margin-bottom: 0;
}

.content .charact .charact-listbox .charact-line {
  margin: 0 0 20px 0;
  width: 40%;
}

.content .charact .charact-listbox .charact-imgbox {
  margin-bottom: 20px;
}

.content .charact .charact-listbox .charact-imgbox .charact-img {
  width: 100%;
}

.content .charact .charact-last {
  margin-bottom: 20px;
}

.content .reasons {
  margin-bottom: 50px;
}

.content .reasons .reason-listbox {
  padding: 5px 30px;
  margin-bottom: 35px;
}

.content .reasons .reason-listbox .reason-item {
  margin-bottom: 22px;
  text-align: center;
  opacity: 0.8;
  padding: 0 20px;
}

.content .reasons .reason-listbox .reason-item:last-child {
  margin-bottom: 0;
}

.content .reasons .reason-listbox .reason-itemimg .reason-img {
  display: block;
  margin: 0 auto;
}

.content .reasons .reason-listbox .reason-item--yellow {
  font-size: 16px;
  font-weight: 900;
  color: #ffdc00;
}

.content .video {
  margin-bottom: 50px;
}

.content .video .youtube-video {
  display: block;
  width: 100%;
  border: 4px solid #ffdc00;
}

.content .video .video-frame {
  width: 100%;
}

.content .economy {
  margin-bottom: 50px;
}

.content .economy .economy-listbox {
  margin-bottom: 35px;
}

.content .economy .economy-listbox .economy-item {
  text-transform: uppercase;
  text-align: center;
  padding: 0 40px;
  margin-bottom: 20px;
}

.content .economy .economy-listbox .economy-imgs {
  padding: 0;
}

.content .economy .economy-listbox .economy-imgs .economy-img {
  width: 100%;
}

.content .economy .economy-listbox .second-economytxt {
  padding: 0;
}

.content .feedback {
  margin-bottom: 50px;
}

.content .feedback .feedback-item {
  margin-bottom: 20px;
  text-align: center;
}

.content .feedback .feedback-item .feedback-txt {
  margin-bottom: 20px;
}

.content .feedback .feedback-txtbox {
  min-height: 300px;
  display: none;
}

.content .feedback .feedback-txtbox--active {
  display: block;
}

.content .feedback .feedback-fotobox {
  display: none;
  border: 10px solid #ffdc00;
}

.content .feedback .feedback-fotobox .feedback-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content .feedback .feedback-fotobox--active {
  display: block;
}

.content .feedback .feedback-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .feedback .switchbtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content .feedback .switchbtns .switchbtn {
  width: 20px;
  height: 20px;
  background-color: #ffdc00;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
}

.content .feedback .switchbtns .switchbtn:last-child {
  margin-right: 0;
}

.content .feedback .switchbtns .switchbtn--active {
  border: 4px solid #000;
  z-index: 1;
}

.content .feedback .switch-left,
.content .feedback .switch-right {
  width: 20px;
  height: 20px;
  border: 2px solid #ffdc00;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: none;
  border-top: none;
}

.content .feedback .switch-right {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.content .feedback .feedback-signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content .feedback .feedback-signature .avatar-img {
  display: block;
  border: 1px solid #000;
  border-radius: 50%;
  width: 47px;
  height: 47px;
}

.content .feedback .feedback-signature .signatyre {
  font-weight: 900;
}

.content .feedback .feedback-signature .opacity-signatyre {
  font-weight: normal;
  opacity: 0.8;
}

.content .delivery {
  margin-bottom: 50px;
}

.content .delivery .guarantee-listbox {
  margin-bottom: 50px;
}

.content .delivery .guarantee-listbox .guarantee-list {
  padding: 0 14px;
  list-style-type: disc;
  margin-bottom: 46px;
}

.content .delivery .guarantee-listbox .guarantee-list .guarantee-item {
  line-height: 24px;
}

.content .delivery .guarantee-listbox .guarantee-list .guarantee-item--bold {
  font-weight: 900;
}

.content .delivery .guarantee-listbox .guarantee-item-last {
  list-style-type: none;
}

.content .delivery .guarantee-iconlist {
  margin-bottom: 30px;
}

.content .delivery .guarantee-iconlist:last-child {
  margin-bottom: 0;
}

.content .delivery .guarantee-item--yellow {
  color: #ffdc00;
  text-align: center;
  font-size: 18px;
  padding: 0 30px;
}

.content .delivery .guarantee-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.content .order-box .order-img {
  display: block;
  width: 100%;
}

.content .order-box .order-form {
  display: block;
  margin-bottom: 30px;
}

.content .order-box input {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 40px;
  margin-bottom: 10px;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 0 5px;
  outline: 0;
}

.content .order-box input:last-child {
  margin-bottom: 0;
}

footer {
  height: 50px;
  background-color: #333;
}

@media (min-width: 480px) {
  header .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header-top .header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  header .header-top .header-right .toptel {
    color: #333;
    text-decoration: none;
  }
  header .header-top .header-right .callback {
    width: 130px;
    color: #fff;
    background-color: #333;
    border: #333;
    padding: 2px;
    border-radius: 4px;
    border: 2px solid #333;
  }
  header .header-top .header-right .callback:hover {
    color: #333;
    background-color: #fff;
    cursor: pointer;
  }
  header .header-bottom .header-bottom-txt,
  header .header-bottom .header-bottom-maintxt {
    text-align: center;
  }
  .charact-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .charact-box .charact-listbox {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .charact-box .charact-listbox:last-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  header .header-bottom .header-bottom-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header-bottom .header-bottom-main .header-bottom-txt,
  header .header-bottom .header-bottom-main .header-bottom-maintxt {
    text-align: left;
  }
  header .header-bottom .header-txt {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .charact-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
  }
  .charact-box .charact-listbox {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .charact-box .charact-listbox:last-child {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .reason-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .reason-box .reason-listbox {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .economy .economy-listbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .feedback-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .feedback-list .feedback-top {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
  .feedback-list .feedback-bottom {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .content .delivery .guarantee-listbox .guarantee-list {
    text-align: center;
    list-style-type: none;
  }
}

@media (min-width: 960px) {
  .charact-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .charact-order .order-second {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .guarantee-imges {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .delivery-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .order-boxbottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .order-boxbottom .backmirror {
    margin: 0;
  }
  .order-boxbottom .form-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=style.css.map */