@import 'reset';
@import'rem';
body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1200px;
}

.header {
    position: relative;
    padding: 10px;
    min-height: 235px;
}

.header-logo {
    padding: 0 10px 10px 10px;
    margin-bottom: 20px;
}

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.lang-nav {
    margin: 0 auto;
    width: 40%;
    margin-bottom: 20px;
}

.lang-nav-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4992d0;
}

.lang-btn-item {
    width: 32px;
    height: 32px;
    border: 0;
    outline: 0;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: 500;
    color: #6b8795;
    &:hover {
        color: #4992d0;
        transition: color .2s linear;
    }
}

.users-nav {
    margin: 0 auto;
    width: 80%;
}

.users-nav-list {
    display: flex;
    justify-content: space-around;
}

.users-nav-icon {
    width: 20px;
    height: 20px;
    fill: #6b8795;
}

.users-nav-link {
    &:hover>.users-nav-icon {
        fill: #4992d0;
        transition: fill .2s linear;
    }
}

.topnav-icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    fill: #6b8795;
}

.topnav-link {
    display: flex;
    display: -webkit-box;
    align-items: center;
    align-content: center;
    text-decoration: none;
    color: #6b8795;
    &:hover {
        color: #4992d0;
        transition: color .2s linear;
    }
    &:hover>.topnav-icon {
        fill: #4992d0;
        transition: fill .2s linear;
    }
}

.topnav-item {
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

#check-menu {
    display: none;
}

#label-check {
    display: block;
    background-color: transparent;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 36px;
    height: 30px;
    cursor: pointer;
    z-index: 3;
}

.burger-line {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 36px;
    height: 4px;
    background-color: #6b8795;
    z-index: 2;
    transition: .4s all;
}

.second,
.third {
    top: 25px;
}

.fourth {
    top: 40px;
}

.topnav-list {
    margin: 0 auto;
    width: 60%;
}

.topnav-list {
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    background-color: #dedede;
    opacity: 0.9;
}

#check-menu {
    &:checked~.topnav-list {
        transition: .7s all;
        max-height: 350px;
        font-size: 16px;
        padding: 20px 60px;
    }
    &:checked~.first {
        display: none;
    }
    &:checked~.second {
        transform: rotate(45deg);
    }
    &:checked~.third {
        transform: rotate(-45deg);
    }
    &:checked~.fourth {
        display: none;
    }
}

.main-baner {
    position: relative;
    padding: 50px 0px;
    background: url(../img/img-about-uag.jpg) center no-repeat;
    background-size: cover;
    z-index: -1;
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 70px;
        background-color: #6a7c86;
        opacity: 0.5;
    }
}

.converter-title {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    z-index: 1;
}

.converter-list {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.converter-item {
    position: relative;
    min-height: 380px;
    border: 1px solid #2c90ce;
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    &::before {
        position: absolute;
        display: block;
        z-index: 1;
        content: '';
        width: 100%;
        min-height: 380px;
        background: #1c92d2;
        background: linear-gradient(to top, #2c90ce, transparent);
        border: 1px solid transparent;
        border-radius: 5px;
    }
    &:nth-child(1) {
        z-index: 1;
        background-image: url(../img/converter-img/energy.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.converter-inside {
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 20px 10px;
}

.converter-form {
    margin-bottom: 20px;
}

.converter-item-title {
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.converter-input,
.result-output {
    width: 100%;
    padding: 10px;
    margin-bottom: 6px;
    outline: 0;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 16px;
}

.converter-txt {
    margin-bottom: 6px;
    padding-left: 6px;
    color: #fff;
    color: #000;
}

.selected-text {
    color: #000;
    background-color: #fff;
}

.submit-btn {
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    color: #000;
    font-weight: 600;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.result-output {
    background-color: #cbfed6;
    text-align: center;
}

.result-output-txt {
    display: inline;
}

.select-form-box {
    position: relative;
    &::before {
        display: block;
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        right: 5px;
        top: 10px;
        background-color: #fff;
    }
}

.feedbacks {
    margin-bottom: 30px;
}

.section-title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    color: #6b8795;
    font-size: 16px;
    font-weight: 700;
}

.feedbacks-list {
    padding: 10px 40px;
}

.shadow {
    box-shadow: 0 0 2px #C0C0C0;
    &:hover {
        box-shadow: 0 0 2px #696969;
        transition: all .4s linear;
    }
}

.feedbacks-item {
    // border: 1px solid black;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.feedbacks-item-top {
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.feedbacks-item:nth-child(1) .feedbacks-item-top {
    background-image: url(../img/feedback-img/close-envelope.png);
    background-size: 40%;
}

.feedbacks-item:nth-child(3) .feedbacks-item-top {
    background-image: url(../img/feedback-img/ukraine.png);
}

.feedbacks-item-bottom {
    padding: 20px 50px;
    background-color: #4992d0;
}

.feedback-title {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.viev-more-link {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    color: #fff;
    &:hover {
        cursor: pointer;
        color: #4992d0;
        background-color: #fff;
        transition: all .7s ease-in-out;
    }
}

.youtube-video {
    width: 100%;
    height: 100%;
}

.company-news {
    padding: 0 10px;
    margin-bottom: 30px;
}

.news-slider-list {
    // max-width: 300px;
    display: flex;
    margin-bottom: 30px;
}

.news-slider-item {
    min-width: 200px;
    margin: 0 10px 5px 10px;
    text-align: center;
}

.news-slider-item {
    &:nth-child(2) .news-slider-img {
        background-image: url(../img/news-png/petrol-station.png);
    }
    &:nth-child(3) .news-slider-img {
        background-image: url(../img/news-png/factory.png);
    }
    &:nth-child(4) .news-slider-img {
        background-image: url(../img/news-png/screen.png);
    }
    &:nth-child(5) .news-slider-img {
        background-image: url(../img/news-png/truck.png);
    }
    &:nth-child(6) .news-slider-img {
        background-image: url(../img/news-png/commercial-deficit.png);
    }
    &:nth-child(7) .news-slider-img {
        background-image: url(../img/news-png/sea-factory.png);
    }
    &:nth-child(8) .news-slider-img {
        background-image: url(../img/news-png/tracking.png);
    }
    &:nth-child(9) .news-slider-img {
        background-image: url(../img/news-png/union.png);
    }
}

.news-slider-img {
    height: 160px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.news-slider-descr {
    padding: 10px 30px 20px 30px;
}

.news-date {
    margin-bottom: 20px;
    color: #78909d;
    font-weight: 700;
    font-size: 12px;
}

.news-article {
    margin-bottom: 20px;
    color: #6b8795;
}

.viev-more-link-white {
    // width: 70%;
    // margin: 0 auto;
    background-color: #fff;
    color: #4992d0;
    border: 1px solid #4992d0;
    &:hover {
        background-color: #4992d0;
        color: #fff;
    }
}

.slick-arrow {
    padding: 0 10px;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #6b8795;
    font-size: 24px;
    font-weight: 900;
}

.main-bottom {
    padding: 10px;
    margin-bottom: 30px;
}

.pop-up-btn {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    background-color: #fff;
    color: #4992d0;
    border: 2px solid #4992d0;
    outline: 0;
    font-size: 20px;
    font-weight: 600;
    &:hover {
        cursor: pointer;
        color: #fff;
        background-color: #4992d0;
        transition: all .7s linear;
    }
}

///////////////////////////////  intresting menu for footer
// .footer {
//     padding: 20px 20px;
//     min-height: 350px;
//     background-color: #4992d0;
// }
// .footer-menu-item {
//     position: relative;
// }
// .footer-menu-title {
//     margin-bottom: 10px;
//     text-align: center;
//     text-transform: uppercase;
//     color: #fff;
// }
// .footer-submenu-item {
//     margin-bottom: 5px;
// }
// .footer-submenu-list {
//     // position: absolute;
//     display: block;
//     top: 0;
//     // left: 10%;
//     // width: 90%;
//     left: 0;
//     width: 100%;
//     margin-bottom: 10px;
//     text-align: center;
//     max-height: 0;
//     font-size: 0;
//     overflow: hidden;
//     background-color: #000;
//     opacity: 0.9;
//     // z-index: 4;
// }
// .submenu-item-link {
//     opacity: 1;
//     text-decoration: none;
//     color: #4992d0;
//     &:hover {
//         color: #fff;
//         text-decoration: underline;
//         transition: color .2s linear;
//     }
// }
// #check-submenu {
//     position: absolute;
//     top: 5px;
//     left: 5px;
//     display: none;
// }
// #label-sub-check {
//     display: block;
//     position: absolute;
//     z-index: 3;
//     background-color: transparent;
//     top: 5px;
//     left: 5px;
//     width: 12px;
//     height: 12px;
//     cursor: pointer;
// }
// #check-submenu {
//     &:checked>.footer-submenu-list {
//         transition: .5s all ease;
//         max-height: 350px;
//         font-size: 16px;
//         padding: 10px;
//     }
//     &:checked~.x-lines-list {
//         transform: rotate(45deg);
//         transition: all .5s ease;
//     }
// }
// .x-lines-list {
//     z-index: 2;
//     position: absolute;
//     top: 5px;
//     left: 5px;
//     width: 12px;
//     height: 12px;
//     color: #fff;
// }
// .x-liine-item {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     background-color: #fff;
//     &:first-child {
//         width: 12px;
//         height: 3px;
//     }
//     &:last-child {
//         width: 3px;
//         height: 12px;
//     }
// }
////-----------------------------------------------------
.footer {
    padding: 20px 20px;
    min-height: 350px;
    background-color: #4992d0;
}

.footer-menu-item {
    margin-bottom: 20px;
    text-align: center;
}

.footer-menu-title {
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
    font-weight: 500;
}

.footer-submenu-item {
    margin-bottom: 5px;
}

.submenu-item-link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    &:hover {
        text-decoration: underline;
        color: #000;
        transition: all .3s ease;
    }
}

#check-submenu {
    display: none;
    ////////////////////////////
}

.footer-contacts {
    text-align: center;
    margin-bottom: 20px;
}

.tel-link {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #fff;
    &:hover {
        text-decoration: underline;
        color: #000;
        transition: all .3s ease;
    }
}

.mail-link {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #fff;
    &:hover {
        text-decoration: underline;
        color: #000;
        transition: all .3s ease;
    }
}

.socials-list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
}

.social-item-icon {
    width: 30px;
    height: 30px;
    fill: #fff;
    &:hover {
        // fill: #6a7c86;
        transform: scale(1.1);
        transition: all .2s ease;
    }
}

////// select styles
// .select-form {
//     background: #dcdcdc;
// }
// .select-form-box {
//     position: relative;
//     &::before {
//         display: block;
//         position: absolute;
//         content: '';
//         width: 20px;
//         height: 20px;
//         right: 5px;
//         top: 10px;
//         background-color: #fff;
//     }
// }
// option {
//     background: #dcdcdc;
//     opacity: 0.5 !important;
// }
// .center {
//     // position: absolute;
//     // display: inline-block;
//     // top: 50%;
//     // left: 50%;
//     // transform: translate(-50%, -50%);
// }

/** Custom Select **/

.selection-box {
    margin-bottom: 5px;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    // user-select: none;
    width: 100%;
}

.custom-select-wrapper select {
    display: none;
    // width: 100%;
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select-trigger {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    // font-weight: 300;
    color: #000;
    // line-height: 60px;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #000;
}


/*       .custom-select-trigger:after {
          position: absolute;
          display: block;
          content: '';
          width: 10px; height: 10px;
          top: 50%; right: 25px;
          margin-top: -3px;
          border-bottom: 1px solid #fff;
          border-right: 1px solid #fff;
          transform: rotate(45deg) translateY(-50%);
          transition: all .4s ease-in-out;
          transform-origin: 50% 0;
        } */


/*       .custom-select.opened .custom-select-trigger:after {
          margin-top: 3px;
          transform: rotate(-135deg) translateY(-50%);
        } */

.custom-options {
    position: absolute;
    display: block;
    z-index: 1;
    top: 65%;
    left: 0;
    right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    /*     box-shadow: 0 2px 1px rgba(0,0,0,.07); */
    background: #dcdcdc;
    transition: all .4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
}

.custom-select.opened .custom-options {
    opacity: 0.97;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}


/*     .custom-options:before {
        position: absolute;
        display: block;
        content: '';
        bottom: 100%; right: 25px;
        width: 7px; height: 7px;
        margin-bottom: -4px;
  /*       border-top: 1px solid #b5b5b5;
        border-left: 1px solid #b5b5b5; */


/*       background: #fff; */


/*       transform: rotate(45deg); */


/*       transition: all .4s ease-in-out;
      } */


/*     .option-hover:before {
        background: #f9f9f9;
      } */

.custom-option {
    position: relative;
    display: block;
    padding: 0 22px;
    /*       border-bottom: 1px solid #b5b5b5; */
    font-size: 18px;
    font-weight: 600;
    color: #2c90ce;
    // line-height: 47px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}


/*     .custom-option:first-of-type {
        border-radius: 4px 4px 0 0;
      }
      .custom-option:last-of-type {
        border-bottom: 0;
        border-radius: 0 0 4px 4px;
      } */

.custom-option:hover,
.custom-option.selection {
    background: #0e6ba4;
    color: #fff;
}