/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1200px;
}

.header {
  position: relative;
  padding: 10px;
  min-height: 235px;
}

.header-logo {
  padding: 0 10px 10px 10px;
  margin-bottom: 20px;
}

.logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lang-nav {
  margin: 0 auto;
  width: 40%;
  margin-bottom: 20px;
}

.lang-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #4992d0;
}

.lang-btn-item {
  width: 32px;
  height: 32px;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: 500;
  color: #6b8795;
}

.lang-btn-item:hover {
  color: #4992d0;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.users-nav {
  margin: 0 auto;
  width: 80%;
}

.users-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.users-nav-icon {
  width: 20px;
  height: 20px;
  fill: #6b8795;
}

.users-nav-link:hover > .users-nav-icon {
  fill: #4992d0;
  -webkit-transition: fill .2s linear;
  transition: fill .2s linear;
}

.topnav-icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  fill: #6b8795;
}

.topnav-link {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-decoration: none;
  color: #6b8795;
}

.topnav-link:hover {
  color: #4992d0;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.topnav-link:hover > .topnav-icon {
  fill: #4992d0;
  -webkit-transition: fill .2s linear;
  transition: fill .2s linear;
}

.topnav-item:not(:last-child) {
  margin-bottom: 10px;
}

#check-menu {
  display: none;
}

#label-check {
  display: block;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 36px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
}

.burger-line {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 36px;
  height: 4px;
  background-color: #6b8795;
  z-index: 2;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.second,
.third {
  top: 25px;
}

.fourth {
  top: 40px;
}

.topnav-list {
  margin: 0 auto;
  width: 60%;
}

.topnav-list {
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  background-color: #dedede;
  opacity: 0.9;
}

#check-menu:checked ~ .topnav-list {
  -webkit-transition: .7s all;
  transition: .7s all;
  max-height: 350px;
  font-size: 16px;
  padding: 20px 60px;
}

#check-menu:checked ~ .first {
  display: none;
}

#check-menu:checked ~ .second {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#check-menu:checked ~ .third {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth {
  display: none;
}

.main-baner {
  position: relative;
  padding: 50px 0px;
  background: url(../img/img-about-uag.jpg) center no-repeat;
  background-size: cover;
  z-index: -1;
}

.main-baner::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  display: block;
  content: '';
  width: 100%;
  height: 70px;
  background-color: #6a7c86;
  opacity: 0.5;
}

.converter-title {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 26px;
  z-index: 1;
}

.converter-list {
  padding: 20px 10px;
  margin-bottom: 20px;
}

.converter-item {
  position: relative;
  min-height: 380px;
  border: 1px solid #2c90ce;
  border-radius: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

.converter-item::before {
  position: absolute;
  display: block;
  z-index: 1;
  content: '';
  width: 100%;
  min-height: 380px;
  background: #1c92d2;
  background: -webkit-gradient(linear, left bottom, left top, from(#2c90ce), to(transparent));
  background: linear-gradient(to top, #2c90ce, transparent);
  border: 1px solid transparent;
  border-radius: 5px;
}

.converter-item:nth-child(1) {
  z-index: 1;
  background-image: url(../img/converter-img/energy.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.converter-inside {
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 20px 10px;
}

.converter-form {
  margin-bottom: 20px;
}

.converter-item-title {
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.converter-input,
.result-output {
  width: 100%;
  padding: 10px;
  margin-bottom: 6px;
  outline: 0;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 16px;
}

.converter-txt {
  margin-bottom: 6px;
  padding-left: 6px;
  color: #fff;
  color: #000;
}

.selected-text {
  color: #000;
  background-color: #fff;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  color: #000;
  font-weight: 600;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.result-output {
  background-color: #cbfed6;
  text-align: center;
}

.result-output-txt {
  display: inline;
}

.select-form-box {
  position: relative;
}

.select-form-box::before {
  display: block;
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  right: 5px;
  top: 10px;
  background-color: #fff;
}

.feedbacks {
  margin-bottom: 30px;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  color: #6b8795;
  font-size: 16px;
  font-weight: 700;
}

.feedbacks-list {
  padding: 10px 40px;
}

.shadow {
  -webkit-box-shadow: 0 0 2px #C0C0C0;
          box-shadow: 0 0 2px #C0C0C0;
}

.shadow:hover {
  -webkit-box-shadow: 0 0 2px #696969;
          box-shadow: 0 0 2px #696969;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.feedbacks-item:not(:last-child) {
  margin-bottom: 30px;
}

.feedbacks-item-top {
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.feedbacks-item:nth-child(1) .feedbacks-item-top {
  background-image: url(../img/feedback-img/close-envelope.png);
  background-size: 40%;
}

.feedbacks-item:nth-child(3) .feedbacks-item-top {
  background-image: url(../img/feedback-img/ukraine.png);
}

.feedbacks-item-bottom {
  padding: 20px 50px;
  background-color: #4992d0;
}

.feedback-title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.viev-more-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  color: #fff;
}

.viev-more-link:hover {
  cursor: pointer;
  color: #4992d0;
  background-color: #fff;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.youtube-video {
  width: 100%;
  height: 100%;
}

.company-news {
  padding: 0 10px;
  margin-bottom: 30px;
}

.news-slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.news-slider-item {
  min-width: 200px;
  margin: 0 10px 5px 10px;
  text-align: center;
}

.news-slider-item:nth-child(2) .news-slider-img {
  background-image: url(../img/news-png/petrol-station.png);
}

.news-slider-item:nth-child(3) .news-slider-img {
  background-image: url(../img/news-png/factory.png);
}

.news-slider-item:nth-child(4) .news-slider-img {
  background-image: url(../img/news-png/screen.png);
}

.news-slider-item:nth-child(5) .news-slider-img {
  background-image: url(../img/news-png/truck.png);
}

.news-slider-item:nth-child(6) .news-slider-img {
  background-image: url(../img/news-png/commercial-deficit.png);
}

.news-slider-item:nth-child(7) .news-slider-img {
  background-image: url(../img/news-png/sea-factory.png);
}

.news-slider-item:nth-child(8) .news-slider-img {
  background-image: url(../img/news-png/tracking.png);
}

.news-slider-item:nth-child(9) .news-slider-img {
  background-image: url(../img/news-png/union.png);
}

.news-slider-img {
  height: 160px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.news-slider-descr {
  padding: 10px 30px 20px 30px;
}

.news-date {
  margin-bottom: 20px;
  color: #78909d;
  font-weight: 700;
  font-size: 12px;
}

.news-article {
  margin-bottom: 20px;
  color: #6b8795;
}

.viev-more-link-white {
  background-color: #fff;
  color: #4992d0;
  border: 1px solid #4992d0;
}

.viev-more-link-white:hover {
  background-color: #4992d0;
  color: #fff;
}

.slick-arrow {
  padding: 0 10px;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: #6b8795;
  font-size: 24px;
  font-weight: 900;
}

.main-bottom {
  padding: 10px;
  margin-bottom: 30px;
}

.pop-up-btn {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  background-color: #fff;
  color: #4992d0;
  border: 2px solid #4992d0;
  outline: 0;
  font-size: 20px;
  font-weight: 600;
}

.pop-up-btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #4992d0;
  -webkit-transition: all .7s linear;
  transition: all .7s linear;
}

.footer {
  padding: 20px 20px;
  min-height: 350px;
  background-color: #4992d0;
}

.footer-menu-item {
  position: relative;
}

.footer-menu-title {
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.footer-submenu-item {
  margin-bottom: 5px;
}

.footer-submenu-list {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  background-color: #000;
  opacity: 0.9;
}

.submenu-item-link {
  opacity: 1;
  text-decoration: none;
  color: #4992d0;
}

.submenu-item-link:hover {
  color: #fff;
  text-decoration: underline;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

#check-submenu {
  position: absolute;
  top: 5px;
  left: 5px;
  display: none;
}

#label-sub-check {
  display: block;
  position: absolute;
  z-index: 3;
  background-color: transparent;
  top: 5px;
  left: 5px;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

#check-submenu:checked ~ .footer-submenu-list {
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  max-height: 350px;
  font-size: 16px;
  padding: 10px;
}

#check-submenu:checked ~ .x-lines-list {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.x-lines-list {
  z-index: 2;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 12px;
  height: 12px;
  color: #fff;
}

.x-liine-item {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
}

.x-liine-item:first-child {
  width: 12px;
  height: 3px;
}

.x-liine-item:last-child {
  width: 3px;
  height: 12px;
}
/*# sourceMappingURL=style.css.map */