@import '_reset';
@import '_rem';
@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('/fonts/GothamPro/GothamPro.eot');
    src: url('/fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'), url('/fonts/GothamPro/GothamPro.woff') format('woff'), url('/fonts/GothamPro/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher-Bold';
    src: url('/fonts/philosopher/Philosopher-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Manropemedium";
    src: url('/fonts/manrope/Manropemedium.ttf');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    margin: 0 auto;
    min-width: rem(1200px);
    max-width: rem(1440px);
    min-height: rem(1024px);
    background: #222129;
    position: relative;
}

.backlines {
    position: absolute;
    z-index: 1;
}

.backtable {
    border: 1px solid #D1D1D1;
    opacity: 0.15;
    width: 100%;
}

.backtable-row {
    height: rem(201px);
    &:nth-child(2) {
        height: rem(620px);
    }
}

.backtable-cell {
    width: rem(274px);
    border: rem(1px) solid #D1D1D1;
    &:first-child,
    &:last-child {
        width: rem(136px);
    }
    &:nth-child(2) {
        width: rem(310px);
    }
    &:nth-child(5) {
        width: rem(310px);
    }
}

.out-circle,
.inside-circle {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(654px);
    height: rem(654px);
    border: rem(1px) solid #D1D1D1;
    opacity: 0.1;
    border-radius: 50%;
}

.inside-circle {
    width: rem(428px);
    height: rem(428px);
}

.menu {
    padding: rem(50px);
    position: absolute;
    z-index: 2;
}

.top-side {
    margin-bottom: rem(240px);
}

.topline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-side {
    display: flex;
    align-items: center;
}

.logo {
    display: block;
    width: rem(50px);
    height: rem(50px);
    background: url(../img/company-logo.png) no-repeat center;
    margin-right: rem(20px);
}

.object-name {
    text-transform: uppercase;
    font-family: 'Gotham Pro Regular';
    font-weight: 600;
    color: #FFF;
    font-size: rem(16px);
    line-height: rem(16px);
}

.close-btn {
    width: rem(36px);
    height: rem(36px);
    padding: 0;
    border: none;
    background-color: transparent;
    position: relative;
    &::before,
    &:after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: rem(2px);
        background-color: #FFF;
        transform: rotate(45deg)
    }
    &:after {
        transform: rotate(135deg)
    }
    &:hover {
        transition: all;
        transform: scale(1.1)
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.list-item {
    margin-bottom: rem(134px);
    flex-basis: 25%;
}

.item-name {
    font-family: 'Philosopher-Bold';
    font-size: rem(44px);
    line-height: rem(46px);
    margin-bottom: rem(12px);
}

.menu-link {
    display: block;
    text-decoration: none;
    color: #FFF;
    &:hover {
        color: aqua;
    }
}

.item-descrription {
    font-family: "Manropemedium";
    font-size: rem(14px);
    line-height: rem(16px);
    color: #D1D1D1;
}