// Lato Light
@font-face {
    font-family: 'Lato Light';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Lato-Light/Lato-Light.ttf);
}

// Lato Regular
@font-face {
    font-family: 'Lato Regular';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Lato-Light/Lato-Light.ttf);
}