* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.wrapper {
  min-width: 360px;
  margin: 0 auto;
  position: relative;
}

.header {
  background: url(../img/logo.png) no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #333;
  height: 200px;
}

.header__txt {
  padding: 0 30px;
}

.header__btn {
  text-align: center;
}

.header__nav {
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
}

.link-hover:hover {
  font-weight: 900;
}

ul {
  list-style-type: none;
}

h1 {
  color: #fff;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  padding: 60px 0px 0px 0px;
  margin-bottom: 10px;
}

.top-btn {
  width: 120px;
  height: 30px;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid #fff;
  cursor: pointer;
  outline: 0;
}

.top-btn:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
  border-color: #fb6470;
}

.top-btn:hover .btn-href {
  -webkit-transition: all .5s;
  transition: all .5s;
  color: #fb6470;
}

.btn-href {
  margin: auto;
}

.bottom-btn {
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #000;
  cursor: pointer;
  margin: auto;
  margin-bottom: 20px;
}

.bottom-btn:hover {
  border-color: #fb6470;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.bottom-btn:hover .bottom-linkbtn {
  -webkit-transition: all .5s;
  transition: all .5s;
  color: #fb6470;
  font-weight: 600;
}

.content {
  padding: 20px;
  background: linear-gradient(45deg, #b9b6b6, white, #b9b6b6);
}

.menu-title {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

.foto-box {
  display: none;
}

.menu-txt {
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.title-line {
  border: 2px solid #fb6470;
  background-color: #fb6470;
  width: 30%;
  margin: auto;
  margin-bottom: 10px;
}

.menu-title:hover .title-line {
  -webkit-transition: 1.6s;
  transition: 1.6s;
  width: 100%;
}

.about-txt,
.site-desc {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #000;
}

.about-txt--bold {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 24px;
  color: #fcfafa;
  text-decoration: underline;
}

.view-name {
  text-transform: uppercase;
  color: #fb6470;
  margin: 50px 0 10px 0;
}

.before-txt {
  position: relative;
}

.before-txt::before {
  display: none;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
  position: absolute;
  bottom: 100%;
  left: 0%;
}

.before-txt:hover::before {
  -webkit-transition: all .3s;
  transition: all .3s;
  display: block;
}

.email-txt::before {
  content: 'Send me e-mail';
}

.git-txt::before {
  content: 'Visit my git profile';
}

.phone-txt::before {
  content: 'Phone me right now';
}

.web-txt::before {
  content: 'Visit web-site';
}

.data-item {
  border-bottom: 1px solid #333;
  margin-bottom: 6px;
  padding-top: 10px;
}

.data-item:hover {
  border-bottom: #fb6470 1px solid;
}

.data-item:last-child {
  margin-bottom: 0;
}

.gallary-item {
  border: none;
  font-weight: 900;
  margin-bottom: 30px;
  border-radius: 5px;
}

.gallary-item .site-foto {
  background-position: center;
}

.gallary-item:hover {
  border: none;
}

.gallary-item:nth-child(1) {
  background-color: #0ceeee;
}

.gallary-item:nth-child(1) .site-foto {
  background-image: url(../img/1stsite01.png);
}

.gallary-item:nth-child(2) {
  background-color: #c8f56e;
}

.gallary-item:nth-child(2) .site-foto {
  background-image: url(../img/2ndsite01.png);
}

.gallary-item:nth-child(3) {
  background-color: #69349e;
}

.gallary-item:nth-child(3) .site-foto {
  background-image: url(../img/3thsite.png);
}

.gallary-item:nth-child(4) {
  background-color: #2629da;
  margin-bottom: 30px;
}

.gallary-item:nth-child(4) .site-foto {
  background-image: url(../img/4thsite.png);
}

#portfolio {
  width: 100%;
}

.site-foto {
  display: block;
  margin: auto;
  height: 200px;
  width: 95%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.site-viev {
  display: block;
  background-color: #333;
  opacity: 0.9;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.site-viev .viev-btn {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 36px;
  border: 2px solid #fff;
  background-color: transparent;
}

.site-viev .viev-btn:hover {
  border-color: #fb6470;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.site-viev .viev-btn:hover .viev-link {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #fb6470;
}

.site-viev .viev-btn .viev-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 6px;
  text-transform: uppercase;
}

.site-foto:hover .site-viev {
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.bottom-linkbtn {
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

.bottom-link {
  color: #fb6470;
}

.bottom-link:hover {
  text-decoration: underline;
}

.bottom-item {
  margin-bottom: 10px;
}

.bottom-item:last-child {
  margin-bottom: 0;
}

label {
  display: block;
  position: absolute;
  cursor: pointer;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.burger-line {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 30px;
  height: 3px;
  background-color: #fb6470;
  -webkit-transition: all .7s;
  transition: all .7s;
  z-index: 1000;
}

.second,
.third {
  top: 15px;
}

.fourth {
  top: 25px;
}

#main-menu {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.menu-link {
  background-color: #333;
  opacity: 0.95;
  display: block;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #fb6470;
  color: #fb6470;
  text-align: center;
  font-weight: 900;
}

.menu-link:hover {
  color: #fff;
}

#label-check {
  display: block;
  background-color: transparent;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  z-index: 1500;
}

#check-menu {
  display: none;
  color: transparent;
}

#check-menu:checked ~ #main-menu {
  max-height: 500px;
  font-size: 16px;
}

#check-menu:checked ~ .first {
  display: none;
}

#check-menu:checked ~ .second {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#check-menu:checked ~ .third {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth {
  display: none;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: #333;
}

.footer .footer-txt {
  color: #fcfafa;
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  text-align: center;
}

.totop {
  display: block;
  position: fixed;
  width: 40px;
  height: 20px;
  right: 8px;
  bottom: 35px;
  z-index: 2000;
}

.totop__link {
  color: #fb6470;
  font-size: 14px;
  font-weight: 900;
}

.totop__cursor {
  display: block;
  border-left: 4px solid #fb6470;
  border-top: 4px solid #fb6470;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: auto;
  -webkit-animation: cursorMove 2s linear 0ms infinite normal none;
          animation: cursorMove 2s linear 0ms infinite normal none;
}

.totop .first-cursor {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.totop .second-cursor {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

@-webkit-keyframes cursorMove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cursorMove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 480px) {
  .header {
    height: 250px;
  }
  h1 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .top-btn {
    width: 140px;
    height: 40px;
  }
  .menu-link {
    padding: 15px;
  }
  h2 {
    font-size: 30px;
  }
  .burger-line {
    width: 40px;
    height: 4px;
  }
  #label-check {
    width: 40px;
  }
}

@media (min-width: 768px) {
  .header {
    height: 346px;
  }
  h1 {
    padding: 100px 0 0 0;
    margin-bottom: 20px;
  }
  .burger-line {
    width: 50px;
    left: 20px;
    top: 15px;
  }
  .second,
  .third {
    top: 30px;
  }
  .fourth {
    top: 45px;
  }
  .menu-link {
    padding: 22px;
    width: 40%;
    font-size: 20px;
  }
  #label-check {
    width: 50px;
    left: 20px;
    top: 10px;
    height: 40px;
  }
  .top-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-title {
    width: 48%;
    margin: 0;
    margin-bottom: 30px;
  }
  .foto-box {
    display: block;
    width: 48%;
    border: border 1px solid #000;
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
  }
  .foto-box .users-foto {
    display: block;
    background-color: #fff;
    height: 100%;
    margin: auto;
    border-radius: 3%;
  }
  #portfolio {
    margin: auto;
  }
  .gallary-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallary-list .gallary-item {
    width: 48%;
    margin-bottom: 40px;
  }
  #message {
    margin: auto;
    width: 100%;
  }
  .bottom-item {
    display: inline-block;
    margin-right: 15px;
  }
  .bottom-item:last-child {
    margin-right: 0;
  }
  .totop {
    width: 56px;
    bottom: 45px;
  }
  .totop__cursor {
    width: 13px;
    height: 13px;
  }
  .totop .totop-txt {
    font-size: 18px;
  }
}

@media (min-width: 960px) {
  .menu-title {
    margin-bottom: 40px;
    width: 44%;
  }
  .gallary-list .gallary-item {
    width: 44%;
  }
  .site-foto {
    height: 300px;
  }
  .view-name {
    margin-top: 100px;
  }
}
/*# sourceMappingURL=style.css.map */