@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('../fonts/GothamPro/GothamPro.eot');
    src: url('../fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro/GothamPro.woff') format('woff'), url('../fonts/GothamPro/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher-Bold';
    src: url('../fonts/philosopher/Philosopher-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Manropemedium";
    src: url('../fonts/manrope/Manropemedium.ttf');
    font-weight: normal;
    font-style: normal;
}