@import '_reset';
@import '_rem';
@import '_fonts';
.wrapper {
    width: 100%;
    height: rem(1024px);
    background-color: #222129;
    position: relative;
}

.backgrid {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.backtable {
    width: 100%;
    border: 1px solid #D1D1D1;
    opacity: 0.15;
}

.backtable-row {
    &:first-child,
    &:last-child {
        height: rem(200px);
    }
    &:nth-child(2) {
        height: rem(620px);
    }
}

.backtable-cell {
    border: 1px solid #D1D1D1;
    &:first-child,
    &:last-child {
        width: 9.57%;
    }
    &:nth-child(2),
    &:nth-child(5) {
        width: 22.143%;
    }
    &:nth-child(3),
    &:nth-child(4) {
        width: 18.287%;
    }
}

.outcircle,
.insidecircle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    width: rem(654px);
    height: rem(654px);
    border: 1px solid #D1D1D1;
    opacity: 0.15;
    border-radius: 50%;
}

.insidecircle {
    width: rem(428px);
    height: rem(428px);
}

.menu-page {
    width: 100%;
    position: absolute;
    z-index: 2;
    padding: rem(50px);
}

.menu-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(240px);
}

.logo-side {
    display: flex;
    align-items: center;
}

.logo {
    width: 3.57vw;
    height: 3.57vw;
    margin-right: rem(20px);
    background: url(../img/company-logo.png) center/contain no-repeat;
    &:hover {
        cursor: pointer;
    }
}

.adress-name {
    text-transform: uppercase;
    font-family: 'Gotham Pro Regular';
    font-weight: 600;
    color: #FFF;
    font-size: 1.143vw;
}

.close-btn {
    width: 2.57vw;
    height: 2.57vw;
    padding: 0;
    border: none;
    background-color: transparent;
    position: relative;
    &::before,
    &:after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 0.143vw;
        background-color: #FFF;
        transform: rotate(45deg)
    }
    &:after {
        transform: rotate(135deg)
    }
    &:hover {
        transition: all;
        transform: scale(1.1)
    }
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    flex-basis: 25%;
    margin-bottom: rem(134px);
    &:nth-child(n+4) {
        margin-bottom: 0;
    }
}

.menu-item-link {
    text-decoration: none;
    color: #FFF;
    &:hover {
        color: #00FFFF;
    }
}

.menu-item-name {
    font-family: 'Philosopher-Bold';
    font-size: 3.143vw;
    line-height: 3.143vw;
    margin-bottom: 0.857vw;
}

.menu-item-descr {
    font-family: "Manropemedium";
    font-size: 1vw;
    line-height: 1.143vw;
    color: #D1D1D1;
}